/* #region CUSTOM RULES */
:root {
  --main-accent-color: rgb(72, 135, 219);
  --font-color-light: rgb(232, 232, 232);
  --font-color-dark: rgb(47, 46, 46);
  --georgian-fonts: "Noto Serif Georgian", serif;
  --accent-fonts: "Roboto Slab", serif;
  --base-fonts: "Roboto", serif;
}
/* #endregion */

/* #region GENERAL STYLES */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--georgian-fonts);
  color: var(--font-color-dark);
}

ul {
  list-style: none;
}

a {
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--font-color-dark);
  transition: all 0.2s linear;
}

a:hover {
  color: var(--main-accent-color);
}

button {
  cursor: pointer;
}

h1 {
  font-family: var(--accent-fonts);
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: var(--font-color-light);
  margin: 2rem 0;
}

label,
input,
select,
option,
button {
  font: inherit;
}

img {
  width: 100%;
  height: auto;
}
/* #endregion */

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 9vh;
}

.header .container {
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  justify-content: start;
  gap: 1rem;
}

.logoImg {
  width: 48px;
}

.navList {
  gap: 1rem;
}

.main {
  flex: 1;
  padding: 1rem;
}

.main .container {
  height: 80vh;
  justify-content: end;
  background: linear-gradient(
      90deg,
      rgba(46, 46, 46, 0.5) 0%,
      rgba(46, 46, 46, 0.5) 100%
    ),
    url("./assets/images/2.webp") center / cover no-repeat;
  border-radius: 1rem;
}

.ticketSearch {
  width: 90%;
  height: 6rem;
  background: #ffffffc0;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.searchForm {
  width: 100%;
  height: 100%;
  flex: 1;
  flex-wrap: nowrap;
  gap: 1rem;
}

.searchForm select,
.searchForm input,
.searchForm button {
  width: 12rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--font-color-light);
  border-radius: 0.75rem;
  padding: 0 0.5rem;
}

.footer {
  height: 15vh;
  padding: 1rem;
  margin-top: 3rem;
  background: #abaaaa;
  border-radius: 25px;
}
