/* #region CUSTOM RULES */
:root {
  --main-accent-color: #c70000;
  --font-color-light: rgb(232, 232, 232);
  --font-color-dark: rgb(47, 46, 46);
  --georgian-fonts: "Noto Serif Georgian", Fontawesome, serif;
  --accent-fonts: "Roboto Slab", serif;
  --base-fonts: "Roboto", serif;
}
/* #endregion */

/* #region GENERAL STYLES */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--georgian-fonts);
  color: var(--font-color-dark);
}

ul {
  list-style: none;
}

a {
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--font-color-dark);
  transition: all 0.2s linear;
}

a:hover {
  color: var(--main-accent-color);
}

button {
  cursor: pointer;
}

h1 {
  font-family: var(--accent-fonts);
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: var(--font-color-light);
  margin: 2rem 0;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--font-color-dark);
  margin: 2rem 0;
  text-align: center;
}

label,
input,
select,
option,
button {
  font: inherit;
}

img {
  width: 100%;
  height: auto;
}
/* #endregion */

/* #region Utility Styles */
.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e0e0e0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #endregion */

/* #region HEADER SECTION STYLES */
.header {
  height: 9vh;
}

.header .container {
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  justify-content: start;
  gap: 1rem;
}

.logoImg {
  width: 3rem;
}

.navList {
  gap: 1rem;
}

.navItem a {
  background-color: var(--font-color-dark);
  color: var(--font-color-light);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

/* #endregion */

/* #region MAIN SECTION STYLES*/
.main {
  padding: 1rem;
}

/* Search section styles */
.searchSection {
  height: 80vh;
  justify-content: end;
  background: linear-gradient(
      90deg,
      rgba(46, 46, 46, 0.4) 0%,
      rgba(46, 46, 46, 0.4) 100%
    ),
    url("../assets/images/2.webp") center / cover no-repeat;
  border-radius: 1rem;
}

.ticketSearch {
  width: 90%;
  min-height: 6rem;
  height: auto;
  background: #ffffffc0;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.searchForm {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  gap: 1rem;
}

.searchForm select,
.searchForm input,
.searchForm button {
  min-width: 12rem;
  height: 3.25rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--font-color-light);
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  flex: 1;
}

.searchForm button {
  background-color: var(--font-color-dark);
  color: var(--font-color-light);
}

.searchForm button:active {
  background-color: rgb(0, 0, 0);
}

/* dynamicaly generated trainsList section styles */
.trainsList {
  margin-top: 4rem;
  gap: 1rem;
}

.trainsListHeading span {
  background-color: var(--font-color-dark);
  color: var(--font-color-light);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.trainsListItem {
  width: 90%;
  height: 8rem;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 1rem;
  padding: 1rem 3rem;
  text-align: center;
}

.travelInfo {
  width: 60%;
  justify-content: space-between;
}

.from,
.to,
.trainInfo {
  gap: 0.25rem;
}

.trainInfo img {
  width: 2.25rem;
}

.trainNumber {
  font-size: 1rem;
  font-weight: 700;
}

.station {
  font-size: 1.5rem;
  font-weight: 700;
}

.date {
  font-size: 0.8rem;
  color: #5f5f5f;
}

.time {
  font-size: 1.1rem;
  font-weight: 700;
  color: #c70000;
}

.line {
  width: 20%;
  height: 1px;
  background-color: var(--font-color-dark);
  margin: 0.5rem;
}

.trainChoose button {
  width: 12rem;
  height: 3.25rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid var(--font-color-light);
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  margin: 0.5rem;
  background-color: #efeeee;
}

.trainChoose button:hover {
  color: #c70000;
}

.trainChoose button:active {
  background-color: var(--font-color-dark);
  color: var(--font-color-light);
}

.trainName {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--main-accent-color);
}

/* #endregion */

/* #region FOOTER SECTION STYLES */
.footer {
  width: 100%;
  height: 20vh;
  background-color: var(--font-color-dark);
  color: var(--font-color-light);
  margin-top: 2rem;
}

.footer .container {
  height: 100%;
  justify-content: end;
  gap: 0.75rem;
  padding: 0.75rem;
}

.hotLine p,
.hotLine a {
  color: var(--font-color-light);
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.hotLine a:hover {
  color: #c70000;
}

.contacts {
  gap: 0.75rem;
}

.contacts a {
  color: var(--font-color-light);
}

.contacts a:hover {
  color: #476dc6;
}
/* #endregion */

/* #region TICKETS PAGE STYLES */
.ticketsPage {
  justify-content: space-between;
  gap: 1rem;
}

/* INVOICE STYLES */
.ticketsPage .invoice {
  width: 30%;
  background-color: #fff;
  border-radius: 0.5rem;
  align-self: stretch;
  justify-content: start;
  padding: 2rem 0.5rem;
}

.invoice h3 {
  font-size: 1rem;
  margin: 1rem 0 3rem 0;
}

.ivoiceSeats {
  width: 100%;
  min-height: 12rem;
  justify-content: start;
}

.invoiceSeatheader {
  font-size: 1rem;
  font-weight: 700;
  gap: 0.75rem;
  margin-bottom: 1rem;
  align-items: start;
}

.invoiceSeatsList {
  width: 100%;
  gap: 0.5rem;
}

.invoiceSeatRow {
  width: 90%;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--font-color-dark);
  border-radius: 0.25rem;
  padding: 0.5rem 0;
}

.seatRowItem {
  font-weight: 700;
}

.seatRowItem:last-child {
  color: #c02a28;
}

.totalPriceContainer {
  width: 90%;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 0.25rem;
  color: #c02a28;
}

/* confirm button in ivoice section */

.passangersFormBtn {
  margin: 2rem 0;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: var(--font-color-dark);
  color: var(--font-color-light);
}

.passangersFormBtn:hover {
  color: #4caf50;
}

.passangersFormBtn:active {
  background-color: var(--font-color-light);
  color: var(--font-color-dark);
}

.ticketsPage .ticketsSection {
  width: 70%;
  background: #fff;
  border-radius: 0.5rem;
}
.ticketsChoose h3 {
  margin: 1.5rem 0 0.5rem 0;
}

/* train styles */
.ticketsChoose {
  width: 80%;
}

.train {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.train .trainsListItem {
  justify-content: center;
  border-radius: 0.5rem;
  background-color: #e0e0e0;
  margin-top: 1rem;
}

.train .travelInfo {
  width: 100%;
}

/* Seats choose section style */

/* vagons styles */
.vagons {
  gap: 1rem;
  margin-bottom: 1rem;
}

.vagons button {
  width: 7rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: var(--font-color-dark);
  color: var(--font-color-light);
  transition: transform linear 0.25s;
  animation: slide-in-left 1s linear 0s 1 normal none;
}

.vagons button:hover {
  background-color: #c52929c0;
  transform: scale(1.1);
}

.active {
  background-color: #c52929c0;
}

/* seats styles */
.seatContainer {
  min-height: 15rem;
  width: 100%;
  flex-direction: column;
}

.seatContainerId {
  display: none;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.seat {
  width: 3rem;
  height: 4rem;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.25rem;
  padding: 0.25rem;
  animation: slide-in-left 0.75s linear 0s 1 normal none;
}

.price {
  color: var(--main-accent-color);
}

.seat:hover {
  background-color: var(--font-color-dark);
  color: var(--font-color-light);
}

.seat.selected {
  background-color: #4caf50;
  color: white;
}

.seat.occupied {
  background-color: var(--main-accent-color);
  opacity: 0.75;
  cursor: not-allowed;
  font-weight: 700;
  color: black;
}

.chooseVagonName {
  font-size: 1.25rem;
  background-color: var(--font-color-dark);
  color: var(--font-color-light);
  padding: 0.75rem 1.25rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
}

/* Passangers info section style */
.passangers {
  width: 90%;
}

.contactInfo {
  gap: 1rem;
  width: 90%;
  flex-wrap: wrap;
}

.passangerInfo {
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  flex: 1;
  flex-wrap: wrap;
}

.passangerInfo::after {
  content: "";
  height: 2px;
  width: 100%;
  margin-top: 0.25rem;
  background-color: #a4a4a4;
}

.passangerInfoList {
  flex-wrap: wrap;
  width: 100%;
}

.passangersForm input,
.passangersForm button {
  width: 6rem;
  height: 2.5rem;
}

.seatInfo {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  background-color: var(--font-color-dark);
  color: var(--font-color-light);
  border-radius: 0.25rem;
}

/* #endregion */

/* #region transactionPage styles */
.transactionPage {
  width: 80%;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  gap: 1rem;
}

.ticketNumberMessage {
  color: #c52929c0;
}

.messageImage {
  color: #4caf50;
}

.message p {
  text-align: center;
  margin-bottom: 1rem;
}

.ticketDelete {
  color: var(--main-accent-color);
  padding: 0.5rem 1rem;
}

.ticketDeleteText {
  font-weight: 700;
  line-height: 2rem;
}

.formContainer {
  width: 100%;
  border-radius: 0.5rem;
}

.totalPaymentContainer {
  background: #4caf50;
  align-items: start;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 0.5rem;
}

.transactionForm {
  background-color: #e0e0e0;
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.card-div {
  width: 100%;
  gap: 2rem;
}
.card-div2 {
  width: 50%;
}

.transactionForm input,
.transactionForm button {
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  padding: 1rem;
}

.transactionForm label,
.transactionForm button {
  margin: 2rem 0 0.5rem 0;
  font-size: 1.25rem;
}

.transactionForm button {
  background-color: var(--font-color-dark);
  color: var(--font-color-light);
}

.transactionForm button:hover {
  background-color: #c52929c0;
}

.transactionForm button:active {
  background-color: #4caf50;
}
/* #endregion */

/* #region purchasedTicketPage styles */

.purchasedTicketPage {
  margin-top: 2rem;
  gap: 3rem;
  flex-wrap: wrap;
}

.ticket {
  width: 325px;
  height: 600px;
  background-color: #f3f1c9;
  border: 2px solid var(--font-color-dark);
  border-radius: 0.75rem;
  overflow: hidden;
  text-transform: uppercase;
  font-family: monospace;
  padding: 0.75rem;
}

.mainTicket {
  height: 65%;
  width: 100%;
  border: 3px solid var(--font-color-dark);
  border-radius: 0.75rem;
  overflow: hidden;
  justify-content: space-between;
}

.ticketHeader {
  width: 100%;
  height: 4rem;
  background: var(--font-color-dark);
  color: #f3f1c9;
  font-size: 1.25rem;
  font-weight: 800;
  font-family: var(--accent-fonts);
  letter-spacing: 0.15rem;
}

.infoTicketHeadings {
  width: 100%;
  font-size: 0.75rem;
  text-align: left;
}

.infoTickettext {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: left;
}

.infoTicketPassanger,
.ticketStations,
.infoTicketDate,
.ticketTimes {
  width: 100%;
  border: 3px solid var(--font-color-dark);
  padding: 0.5rem;
  margin: -2px 0;
}

.infoTicketFrom,
.infoTicketTo,
.infoTicketTimeFrom,
.infoTicketTimeTo {
  width: 50%;
}

.mainTicketInfo {
  width: 100%;
  height: 6rem;
  justify-content: space-evenly;
  background-color: #c02a28;
  color: white;
}

.mainTicketText {
  font-size: 1rem;
  font-weight: 700;
  color: var(--font-color-dark);
}

.mainTicketNumber {
  font-size: 3rem;
  font-weight: 700;
}

/* ticket footer styles */
.ticketFooter {
  height: 35%;
  gap: 0.75rem;
  justify-content: end;
}

.ticketFooterText {
  font-size: 0.75rem;
  text-align: center;
}

.ticketContacts {
  width: 100%;
  padding: 0.25rem;
  border-top: 2px dotted var(--font-color-dark);
  font-size: 0.75rem;
  gap: 0.5rem;
}

.ticketConfirmMessage {
  margin: 1rem 0 0.5rem 0;
}

/* barcode styles */
.ticketBarcode {
  width: 70%;
}

.barcode {
  width: 100%;
  height: 3.5rem;
  background: linear-gradient(
    to right,
    #333 2%,
    #333 4%,
    transparent 4%,
    transparent 5%,
    #333 5%,
    #333 6%,
    transparent 6%,
    #333 6%,
    #333 8%,
    transparent 8%,
    transparent 9%,
    #333 9%,
    #333 10.5%,
    transparent 10.5%,
    transparent 11%,
    #333 11%,
    #333 12%,
    transparent 12%,
    transparent 13.5%,
    #333 13.5%,
    #333 15%,
    #333 17%,
    transparent 17%,
    transparent 19%,
    #333 19%,
    #333 20%,
    transparent 20%,
    transparent 21%,
    #333 21%,
    #333 22%,
    transparent 22%,
    transparent 23.5%,
    #333 23.5%,
    #333 25%,
    transparent 25%,
    transparent 26.5%,
    #333 26.5%,
    #333 27.5%,
    transparent 27.5%,
    transparent 28.5%,
    #333 28.5%,
    #333 30%,
    transparent 30%,
    transparent 32%,
    #333 32%,
    #333 34%,
    #333 36%,
    transparent 36%,
    transparent 37.5%,
    #333 37.5%,
    #333 40%,
    transparent 40%,
    transparent 41.5%,
    #333 41.5%,
    #333 43%,
    transparent 43%,
    transparent 46%,
    #333 46%,
    #333 48%,
    transparent 48%,
    transparent 49%,
    #333 49%,
    transparent 49%,
    transparent 50%,
    #333 50%,
    #333 51%,
    transparent 51%,
    transparent 53%,
    #333 53%,
    #333 54.5%,
    transparent 54.5%,
    transparent 56%,
    #333 56%,
    #333 58%,
    transparent 58%,
    transparent 59%,
    #333 59%,
    #333 60%,
    #333 62.5%,
    transparent 62.5%,
    transparent 64%,
    #333 64%,
    #333 64%,
    #333 67%,
    transparent 67%,
    transparent 69%,
    #333 69%,
    #333 70%,
    transparent 70%,
    transparent 71%,
    #333 71%,
    #333 72%,
    transparent 72%,
    transparent 73.5%,
    #333 73.5%,
    #333 76%,
    transparent 76%,
    transparent 79%,
    #333 79%,
    #333 80%,
    transparent 80%,
    transparent 82%,
    #333 82%,
    #333 82.5%,
    transparent 82.5%,
    transparent 84%,
    #333 84%,
    #333 87%,
    transparent 87%,
    transparent 89%,
    #333 89%,
    #333 91%,
    transparent 91%,
    transparent 92%,
    #333 92%,
    #333 95%,
    transparent 95%
  );
}

.barcodeText {
  padding: 2px 0 0;
  color: #c02a28;
  font-size: 0.6rem;
  font-weight: 700;
}

.returnBtn {
  padding: 0.5rem 1rem;
  background-color: var(--font-color-dark);
  color: var(--font-color-light);
  border-radius: 0.25rem;
  margin-top: 1rem;
}

/* #endregion */

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* #region Responsive styles */
@media only screen and (max-width: 950px) {
  .ticketsPage {
    flex-direction: column;
  }

  .ticketsPage .invoice,
  .ticketsPage .ticketsSection {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .brandName {
    font-size: 1.75rem;
  }

  .trainsList {
    margin-top: 1rem;
  }

  .searchForm select,
  .searchForm input,
  .searchForm button {
    min-width: 80%;
  }

  .trainsListHeading span {
    display: block;
    margin: 0.5rem 0;
  }

  .trainsListItem {
    flex-direction: column;
    height: auto;
    gap: 1rem;
  }

  .travelInfo {
    width: 100%;
  }

  .card-div {
    flex-direction: column;
    gap: 0;
  }

  .card-div2 {
    width: 100%;
  }

  .transactionPage {
    width: 90%;
  }

  .transactionForm input {
    padding: 0.75rem;
  }

  .ticketsPage .invoice,
  .ticketsPage .ticketsSection {
    width: 95%;
  }
}

@media only screen and (max-width: 660px) {
  .brandName {
    font-size: 1.5rem;
  }

  .ticketsChoose h3 {
    font-size: 1.2rem;
    margin: 1rem 0 0.5rem 0;
  }

  .train .travelInfo {
    flex-direction: column;
  }

  .trainInfo {
    margin: 0.5rem 0;
  }

  .chooseVagon,
  .vagons {
    width: 100%;
  }

  .vagons .vagonBtn {
    height: 5rem;
    width: 7rem;
    margin: 1rem 0;
    font-size: 1rem;
  }

  .seatContainerId {
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(10, auto); /* 10 rows */
  }

  .seat {
    width: 4rem;
    height: 3rem;
  }
}

/* #endregion */
